/* ===================================
    About
====================================== */


/*
    Theme Name: MegaOne
    Theme URI:
    Author: Themes Industry
    Author URI:
    Description: One Page Parallax Template
    Tags: one page, multipurpose, parallax, creative, html5

 */


/* ===================================
    Table of Content
====================================== */


/*  - Fonts
    - General
    - Fonts
    - Social Icon Hover
    - Header And Navigation
    - Slider
    - About
    - Team
    - Portfolio
    - Price
    - Parallax
    - Testimonial
    - Client
    - Blog
    - Contact
    - Map
    - Footer
    - Loader
    - Media Queries   */


/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700&display=swap');

/* ===================================
    Scrollbar
====================================== */


/*html{*/


/*    scroll-behavior: smooth;*/


/*}*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 12px;
    background: white;
    border-left: 0 solid white;
    border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
    background: #0596a1;
    width: 0;
    height: 25%;
    transition: .5s ease;
}


/* ===================================
    General
====================================== */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #202020;
    font-weight: 300;
    line-height: 25px;
    width: 100%;
    overflow-x: hidden
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0
}

a,
*::before,
*::after,
img,
span,
input,
button,
.navbar,
.fixedmenu,
.tp-bullet,
.owl-dot,
.owl-prev,
.owl-next {
    transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

section,
.section-padding {
    position: relative;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

p:last-child {
    margin-bottom: 0 !important;
}

.fa,
.far,
.fas {
    display: inline;
}

a:active,
a:hover {
    color: #0596a1;
}

.hidden {
    display: none;
}

ul {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}


/* transition none */

.no-transition * {
    transition-timing-function: initial;
    -moz-transition-timing-function: initial;
    -webkit-transition-timing-function: initial;
    -o-transition-timing-function: initial;
    -ms-transition-timing-function: initial;
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    -ms-transition-duration: 0s;
}


/* overlay */

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* opacity */

.opacity-3 {
    opacity: .3;
}

.opacity-4 {
    opacity: .4;
}

.opacity-5 {
    opacity: .5;
}

.opacity-6 {
    opacity: .6;
}

.opacity-7 {
    opacity: .7;
}

.opacity-8 {
    opacity: .8;
}

.opacity-9 {
    opacity: .9;
}


/* button */

.btn {
    -webkit-appearance: initial;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    display: inline-block;
    font-size: 17px;
    border: 2px solid transparent;
    letter-spacing: .5px;
    line-height: inherit;
    border-radius: 0;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease !important;
    transition: all .5s ease !important;
}


/* button size */


/* background color */

.bg-light-gray {
    background-color: #f7f8fb;
}

.bg-red {
    background-color: #D8271F;
}

.bg-blue {
    background-color: #0596a1;
}

.bg-orange {
    background-color: #F77E00;
}

.bg-yellow {
    background-color: #dabf07;
}

.bg-green {
    background-color: #9cc11a;
}


/* text-color */

.color-red {
    color: #D8271F !important;
}

.color-blue {
    color: #0596a1 !important;
}

.color-orange {
    color: #F77E00 !important;
}

.color-yellow {
    color: #dabf07 !important;
}

.color-green {
    color: #9cc11a !important;
}

.height-50 {
    height: 50vh;
}


/*Max Width*/

.parallax-disable {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

.position-relative {
    position: relative;
}


/*icon text bover */

.facebook-text-hvr:hover {
    color: #4267B2 !important;
}

.twitter-text-hvr:hover {
    color: #1DA1F2 !important;
}

.instagram-text-hvr:hover {
    color: #c3712a !important;
}

.linkedin-text-hvr:hover {
    color: #0077B5 !important;
}

.pinterest-text-hvr:hover {
    color: #BD081C !important;
}

.google-text-hvr:hover {
    color: #DB4437 !important;
}

.youtube-text-hvr:hover {
    color: #DB4437 !important;
}


/* ===================================
    menu-line
====================================== */

.menu-line {
    position: absolute;
    top: -20px;
    font-size: 18px;
    color: #ffffff;
    left: 0;
    display: block;
    text-align: center;
    width: 85px;
    height: 30px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
    transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}

.nav-icon .navbar-nav .nav-link:nth-child(1).active~.menu-line {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(2).active~.menu-line {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(3).active~.menu-line {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(4).active~.menu-line {
    -webkit-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(5).active~.menu-line {
    -webkit-transform: translate3d(400%, 0, 0);
    transform: translate3d(400%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(6).active~.menu-line {
    -webkit-transform: translate3d(500%, 0, 0);
    transform: translate3d(500%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(7).active~.menu-line {
    -webkit-transform: translate3d(600%, 0, 0);
    transform: translate3d(600%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(1):hover~.menu-line {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(2):hover~.menu-line {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(3):hover~.menu-line {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(4):hover~.menu-line {
    -webkit-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(5):hover~.menu-line {
    -webkit-transform: translate3d(400%, 0, 0);
    transform: translate3d(400%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(6):hover~.menu-line {
    -webkit-transform: translate3d(500%, 0, 0);
    transform: translate3d(500%, 0, 0);
}

.nav-icon .navbar-nav .nav-link:nth-child(7):hover~.menu-line {
    -webkit-transform: translate3d(600%, 0, 0);
    transform: translate3d(600%, 0, 0);
}


/* ===================================
    Cursor
====================================== */

.magic {
    display: none !important;
}

.aimated-cursor {
    position: absolute;
    left: 0;
    display: none;
    top: 0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index: 10000;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
    -o-transition: opacity 0.2s ease-in-out 0.5s;
    transition: opacity 0.2s ease-in-out 0.5s;
}

.cursor-light:hover~.aimated-cursor {
    display: inline-block;
    z-index: 9999999;
}

.cursor {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255);
    /*border: 2px solid rgb(0, 0, 0);*/
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999999999;
}


/*slider social*/

.slider-social {
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
}

.side-nav-menu .slider-social {
    right: auto;
}

.slider-social li {
    list-style: none;
}

.slider-social a {
    /*display: block;*/
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    border-radius: 50px;
    font-size: 16px;
    margin: 2px;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}


/* ===================================
      Custom css
  ==================================== */

.no-animation {
    animation: none !important;
}

.padding-top {
    padding-top: 50px;
}

.padding-top-half {
    padding-top: 30px !important;
}

.padding-bottom {
    padding-bottom: 50px;
}

.padding-bottom-half {
    padding-bottom: 30px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.sub-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.heading span {
    display: block;
}

.heading span.color {
    display: inline-block;
    color: #9cc11a;
}

.white-trans-btn {
    border: solid 1px #FFFFFF;
    color: #FFFFFF !important;
    font-weight: 400;
    padding: 8px 20px;
    background-color: transparent;
    transition: .5s ease;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

.white-trans-btn-green-hvr:hover {
    background-color: #FFFFFF;
    color: #9cc11a !important;
}

.white-trans-btn-yellow-hvr:hover {
    background-color: #FFFFFF;
    color: #dabf07 !important;
}

.red-btn {
    border: solid 1px #D8271F;
    color: #FFFFFF;
    font-weight: 400;
    padding: 8px 35px;
    background-color: #D8271F;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    border-radius: 0.5em;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .8s ease;
    text-decoration: none;
}

.green-btn {
    border: solid 1px #9cc11a;
    color: #FFFFFF;
    font-weight: 400;
    padding: 8px 35px;
    background-color: #9cc11a;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    border-radius: 0.5em;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .8s ease;
    text-decoration: none;
}

.blue-btn {
    border: solid 1px #0596a1;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 35px;
    background-color: #0596a1;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    border-radius: 0.5em;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .8s ease;
    text-decoration: none;
    cursor: pointer;
}

.yellow-btn {
    border: solid 1px #dabf07;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 35px;
    background-color: #dabf07;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    border-radius: 0.5em;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .8s ease;
    text-decoration: none;
}

.anim-btn {
    border: 1px solid #FFFFFF;
    border-radius: 0.5em;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 30px 10px 30px;
    transition: .8s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.anim-btn:hover {
    border: solid 1px #FFFFFF;
}

.anim-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}

.anim-btn:hover {
    color: #202020;
}

.anim-btn:hover span,
.red-btn:hover span,
.green-btn:hover span,
.blue-btn:hover span,
.yellow-btn:hover span {
    transform: translateY(0) scale(3.2);
}

.anim-btn span:nth-child(1),
.red-btn span:nth-child(1),
.green-btn span:nth-child(1),
.blue-btn span:nth-child(1),
.yellow-btn span:nth-child(1) {
    left: calc((1 - 1) * 25%);
    transition-delay: calc((1 - 1) * 0.1s);
}

.anim-btn span:nth-child(2),
.red-btn span:nth-child(2),
.green-btn span:nth-child(2),
.blue-btn span:nth-child(2),
.yellow-btn span:nth-child(2) {
    left: calc((2 - 1) * 25%);
    transition-delay: calc((2 - 1) * 0.1s);
}

.anim-btn span:nth-child(3),
.red-btn span:nth-child(3),
.green-btn span:nth-child(3),
.blue-btn span:nth-child(3),
.yellow-btn span:nth-child(3) {
    left: calc((3 - 1) * 25%);
    transition-delay: calc((3 - 1) * 0.1s);
}

.anim-btn span:nth-child(4),
.red-btn span:nth-child(4),
.green-btn span:nth-child(4),
.blue-btn span:nth-child(4),
.yellow-btn span:nth-child(4) {
    left: calc((4 - 1) * 25%);
    transition-delay: calc((4 - 1) * 0.1s);
}

.anim-btn span:nth-child(5),
.red-btn span:nth-child(5),
.green-btn span:nth-child(5),
.blue-btn span:nth-child(5),
.yellow-btn span:nth-child(5) {
    left: calc((5 - 1) * 25%);
    transition-delay: calc((5 - 1) * 0.1s);
}

.btn-hvr-green:hover {
    border: solid 1px #9cc11a;
    color: #FFFFFF;
}

.btn-hvr-green span {
    background-color: #9cc11a;
}


/*for red*/

.btn-hvr-red:hover {
    border: solid 1px #F77E00;
    color: #FFFFFF;
}

.btn-hvr-red span {
    background-color: #F77E00;
}

/*for yellow*/

.btn-hvr-yellow:hover {
    border: solid 1px #dabf07;
    color: #FFFFFF;
}

.btn-hvr-yellow span {
    background-color: #dabf07;
}


/*for blue*/

.btn-hvr-blue:hover {
    border: solid 1px #0596a1;
    color: #FFFFFF;
}

.btn-hvr-blue span {
    background-color: #0596a1;
}


/*for white*/

.btn-hvr-white-blue:hover {
    color: #0596a1;
}

.btn-hvr-white-yellow:hover {
    color: #dabf07;
}

.btn-hvr-white-green:hover {
    color: #9cc11a;
}

.btn-hvr-white-blue span,
.btn-hvr-white-yellow span,
.btn-hvr-white-green span {
    background-color: #fff;
}

.btn-hvr span {
    position: absolute;
    width: 25%;
    height: 100%;
    /*background-color: #FFFFFF;*/
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}


/* ===================================
        Header
   ====================================== */

header {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 111;
}


/*main navigation*/

header .navbar-brand {
    position: absolute;
    left: 25px;
    bottom: 20px;
    z-index: 1111;
    width: 80px;
}

header .navbar-brand img {
    width: 100%;
}


/* ===================================
         header appear css
====================================== */

.no-shadow {
    box-shadow: none !important;
}

.header-appear {
    /*background-color: #9cc11a;*/
    width: 72px;
    height: 72px;
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 1111;
    -webkit-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

.full-nav .header-appear {
    background-color: #D8271F;
}

.header-appear .navbar-brand {
    position: absolute;
    left: 70px;
    bottom: 11px;
}

.header-appear .navbar-brand .logo-simple {
    display: none;
}

.header-appear .navbar-brand .logo-fixed {
    display: block;
}

.header-appear .main-navigation {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-appear .main-navigation nav .navbar-nav .nav-link .nav-link {
    /*color: #202020;*/
}

.header-appear .main-navigation .simple-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-appear .fixed-nav-links {
    display: block;
}

.header-appear .fixed-nav-links {
    display: inline-block;
    transform: translateY(-5px);
    margin-left: 25px;
}

.header-appear .sidemenu_btn {
    height: 60px;
    width: 60px;
    background-color: #D8271F;
    border-radius: 50%;
    padding: 23px 17px;
    top: 0;
    left: 18px;
    transition: .5s ease;
}

.header-appear .sidemenu_btn:hover {
    background-color: #F77E00;
}

.full-nav .header-appear .sidemenu_btn {
    height: auto;
    width: 40px;
    background-color: transparent;
    top: 22px;
    left: 19px;
    padding: 6px;
}

.full-nav .header-appear .sidemenu_btn:hover {
    background-color: transparent;
}

.header-appear .sidemenu_btn span {
    /*background-color: #202020;*/
}

@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* ===================================
    Side Menu
====================================== */

.side-menu .bg-overlay {
    background: #0596a1e0;
    transition: .5s ease;
}

.side-menu {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    /*background: rgba(247, 28, 82, 0.6);*/
    background-image: url("../../include/img/side-menu.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2032;
    height: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    overflow: hidden;
}

.side-menu .navbar-brand {
    /*max-width: 100%;*/
    position: relative;
    left: auto;
    right: auto;
}

.side-menu .navbar-brand img {
    max-width: 100%;
}

.side-menu.left {
    left: 0;
    right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.side-menu-opacity {
    opacity: 0;
}

.side-menu.before-side {
    width: 280px;
}

.side-menu.side-menu-active,
.side-menu.before-side {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pul-menu .side-menu.side-menu-active {
    visibility: visible;
    opacity: 1;
}

.side-menu .navbar-brand {
    margin: 0 0 2.5rem 0;
}


/*Side overlay*/

#close_side_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    display: none;
    z-index: 1031;
    opacity: 0.4;
}


/*side clode btn*/

.side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 35px;
    cursor: pointer;
}


/*.header-appear ~ .side-menu .btn-close {*/


/*    top:50px;*/


/*}*/

.side-menu.before-side .btn-close {
    display: none;
}

.side-menu .btn-close::before,
.side-menu .btn-close::after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 24px;
    width: 2px;
    background: #fff;
    top: 5px;
}

.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/*side open btn*/

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 38px;
    padding: 6px;
    margin-right: 1rem;
    margin-top: .4rem;
    position: absolute;
    left: 30px;
    top: 22px;
    display: inline-block;
}

.sidemenu_btn span {
    height: 2px;
    width: 100%;
    background: #FFFFFF;
    display: block;
    margin: auto;
    transition: .5s ease;
}

.sidemenu_btn:hover span {
    /*background: #9cc11a;*/
}

.sidemenu_btn:hover span:first-child,
.sidemenu_btn:hover span:last-child {
    width: 70%;
}

.sidemenu_btn span:nth-child(2) {
    margin: 4px 0;
}

.side-menu .inner-wrapper {
    padding: 3.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pul-menu.pushwrap .side-menu .inner-wrapper {
    padding: 3.5rem 2.5rem;
}

.side-menu .side-nav {
    margin-bottom: 30px;
    display: block;
}

.side-nav .navbar-nav .nav-link {
    display: block;
    margin: 10px 0;
    padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}

.side-nav .navbar-nav .nav-link:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

.side-nav .navbar-nav .nav-link:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

.side-nav .navbar-nav .nav-link:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.side-nav .navbar-nav .nav-link:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.side-nav .navbar-nav .nav-link:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}

.side-nav .navbar-nav .nav-link:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}

.side-nav .navbar-nav .nav-link:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}

.side-nav .navbar-nav .nav-link:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}

.side-nav .navbar-nav .nav-link:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-link {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.side-nav .navbar-nav .nav-link {
    display: inline-table;
    color: #fff;
    padding: 2px 0 3px 0 !important;
    font-size: 44px;
    font-weight: 700;
    line-height: normal;
    position: relative;
    border-radius: 0;
    font-family: 'Raleway', sans-serif;
}

.side-nav .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    background: transparent;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.side-nav .navbar-nav .nav-link:hover::after,
.side-nav .navbar-nav .nav-link:focus::after,
.side-nav .navbar-nav .nav-link.active::after {
    width: 100%;
}

.side-nav .navbar-nav .nav-link.active {
    background: transparent;
}

.side-menu-inner-content {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
}

.side-menu p {
    margin-bottom: 0;
}

.menu-company-details {
    margin-bottom: 25px;
    margin-top: -15px;
}

.menu-company-details span {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.menu-company-details span a:hover{
	color:#FFE900;
}

.social-icons-simple {
    margin-bottom: 0;
    margin-left: -10px;
}

.social-icons-simple li {
    display: inline-block;
    padding-left: 8px;
}

.social-icons-simple li:first-child {
    padding-left: 0;
}

.social-icons-simple li a {
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 42px;
    border: 1px solid transparent;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

.social-icons-simple li a:hover {
    background-color: #FFFFFF;
}

.social-icons-simple li.animated-wrap a:hover {
    background-color: transparent;
    color: #ffffff;
}

@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* ===================================
        Slider area
====================================== */

.banner-slider {
    height: 100vh;
}

.banner-slider .banner-slider-row {
    height: 100vh;
}


/*for left area*/

.banner-slider .banner-left-area {}

.banner-slider .banner-left-area .inner-content .heading {
    font-size: 70px;
}

.banner-slider .banner-left-area .slider-ring {
    height: 300px;
    width: 290px;
    border: solid 5px #ffffff33;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-slider .banner-left-area .detail-text {
    width: 100%;
}

.slider-object1 {
    position: absolute;
    top: 0;
    left: 20%;
    animation: 12s moving-image infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

.slider-object2 {
    position: absolute;
    bottom: 0;
    right: -1%;
    animation: 20s rotating-image infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

.slider-object1 img,
.slider-object2 img {
    width: 85%;
}

@keyframes moving-image {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(60px);
    }
}

@keyframes rotating-image {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(20deg);
    }
}

.slider-play-btn {
    color: #FFFFFF;
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-play-btn span {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: solid 1px #fff;
    font-size: 14px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
}

.slider-play-btn span i {
    color: #fff;
}

.slider-play-btn:hover span i {
    color: #202020;
}

.slider-play-btn:hover {
    color: #fff;
}

.slider-play-btn:hover span {
    background-color: #FFFFFF;
}


/*for right area*/

.banner-slider .detail-text {
    width: 64%;
}

.banner-slider .detail-text .sub-heading {
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 5px;
}

.banner-slider .detail-text .heading {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.banner-slider .detail-text .text {
    color: #FFFFFF;
}

.banner-slider .img-object {
    position: absolute;
    left: 35px;
    bottom: 0;
    width: 40%;
}

.banner-slider .img-object.right {
    position: absolute;
    right: 35px;
    bottom: 6%;
    left: auto;
    width: 50%;
}

.banner-slider .img-object img {
    max-width: 100%;
}


/* ===================================
      Stats Us
  ==================================== */


/* ===================================
        features section css
====================================== */

.feature-sec .heading {
    margin-bottom: 30px;
}

.feature-sec .card {
    box-shadow: 1px 1px 31px #e6e6e6;
    border: none;
    border-radius: 10px;
}

.feature-sec .card .feature-icon {
    display: inline-block;
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
}

.feature-sec .card .feature-icon i {
    display: block;
    font-size: 100px;
    color: #dabf07;
    transition: .5s ease;
}

.feature-sec .card:hover .feature-icon i {
    transform: translateY(-10px);
}

.feature-sec .card-body {
    padding: 85px 49px;
    padding-bottom: 50px;
}

.feature-sec .card-text {
    font-size: 22px;
    font-weight: 500;
}


/* ===================================
     Stats sec css
====================================== */


/************STATS SECTION START***********/

.stats-text .heading {
    font-size: 40px;
}

.stats-text .home-text .sub-heading {
    font-size: 20px;
    color: rgb(105, 105, 105);
}

.stats-box {
    cursor: pointer;
}

.stats-icon {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.stats-box:hover .stats-icon {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.stats-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.stats-icon i {
    font-size: 36px;
}

.stats-box-text .numbering {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    line-height: 1.3;
    font-weight: 500;
}

.stats-box-text .stat-sub-heading {
    font-weight: 400;
}

.plant-img {
    transform: translateY(-50px);
}

.plant-img img {
    width: 90%;
}


/* ===================================
         Team sec css
/* =================================== */

.team-text .sub-heading {
    font-size: 16px;
    color: rgb(105, 105, 105);
    line-height: 1.667;
}

svg.right-square.team {
    top: -22px;
}

.team-owl .owl-nav.disabled {
    display: block;
}

.team-owl .owl-nav button.owl-next,
.team-owl .owl-nav button.owl-prev {
    font-size: 40px;
    color: #acacac;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.team-owl .owl-nav button.owl-next:hover,
.team-owl .owl-nav button.owl-prev:hover {
    color: #dabf07;
}

.team-owl .owl-prev span {
    position: absolute;
    left: -3%;
    top: 37%;
}

.team-owl .owl-next span {
    position: absolute;
    right: -3%;
    top: 37%;
}

.item .team-img {
    width: 80%;
    margin: auto;
}

.team-tittle {
    padding: 15px 50px 0 50px;
}

.name-img {
    position: relative;
}

.name-img .name {
    position: absolute;
    top: 8px;
    left: 26%;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    transition: .5s ease;
}

.team-owl .item:hover {
    cursor: pointer;
}

.team-tittle .sub-heading {
    font-size: 15px;
    font-weight: 400;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background-color: transparent;
    padding: 9px 0;
    border-radius: 50%;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
}

.social-icons a i {
    color: #202020;
}

.social-icons a:hover i {
    color: #FFFFFF;
}

.social-icons a.fb:hover {
    background-color: #3b5998;
}

.social-icons a.twt:hover {
    background-color: #00acee;
}

.social-icons a.drb:hover {
    background-color: #ea4c89;
}

.black-img {
    position: absolute;
    top: 0;
    opacity: 0;
}

#team-carousal .item:hover .name-img .black-img {
    opacity: 1;
}


/* ===================================
         portfolio sec css
====================================== */

.portfolio-sec .text {
    padding-top: 7px;
    width: 95%;
    margin-left: auto;
}

.portfolio-sec .portfolio-heading-area {
    margin-bottom: 30px;
}

.portfolio-sec .portfolio-heading-area .heading {
    margin-bottom: 0;
}

.portfolio-sec .portfolio-carousel {
    overflow: visible;
}

.portfolio-sec .portfolio-carousel .portfolio-image {
    box-shadow: 5px 5px 15px #e2e2e2;
}

.portfolio-sec .portfolio-links {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #dabf07;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.portfolio-sec .portfolio-links:hover {
    background-color: #9cc11a;
}

.portfolio-sec .portfolio-links i {
    font-size: 18px;
    color: #FFFFFF;
}

.portfolio-sec .portfolio-links#portfolio-arr-left {
    left: -6%;
}

.portfolio-sec .portfolio-links#portfolio-arr-right {
    right: -6%;
}

.portfolio-sec .portfolio-footer {
    font-family: Roboto, sans-serif;
}

.portfolio-sec .portfolio-footer .portfolio-mini-heading {
    color: #373c48;
    font-size: 26px;
    font-weight: 400;
}

.portfolio-sec .portfolio-footer .text {
    font-size: 16px;
    color: #bfc4ce;
}


/* ===================================
       Pricing section css
====================================== */

.pricing-sec {}

.pricing-sec .pricing-heading-area .sub-heading {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #202020;
    font-weight: 400;
    margin-bottom: 20px;
}

.pricing-sec .pricing-heading-area .heading {
    margin-bottom: 40px;
}

.pricing-sec .pricing-heading-area .text {
    color: #202020;
    opacity: .8;
    width: 60%;
    margin: 0 auto;
}


/*pricing cards*/

.pricing-sec .pricing-cards {
    font-family: Roboto, sans-serif;
    padding-top: 100px;
}

.pricing-sec .pricing-cards .pricing-box {
    box-shadow: 1px 1px 25px #e2e2e2;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-header .header-content {
    position: relative;
    z-index: 11;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-header {
    padding: 35px 25px;
    background-color: #FFFFFF;
}

.pricing-sec .pricing-cards .pricing-box .pricing-header-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 1;
    background-color: #9cc11a;
    display: block;
    transition: .3s ease;
}

.pricing-sec .pricing-cards .pricing-card:hover .pricing-box .pricing-header-overlay,
.pricing-sec .pricing-cards .pricing-card.active .pricing-box .pricing-header-overlay {
    top: 0;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-header .pricing-price {
    color: #575757;
    font-size: 48px;
    font-weight: 500;
    display: inline-block;
    /*align-items: center;*/
    margin-bottom: 8px;
    transition: .3s ease;
}

.pricing-sec .pricing-cards .pricing-card:hover .pricing-box .pricing-box-header .pricing-price,
.pricing-sec .pricing-cards .pricing-card:hover .pricing-box .pricing-box-header .sub-text {
    color: #FFFFFF !important;
}

.pricing-sec .pricing-cards .pricing-card.active .pricing-box .pricing-box-header .pricing-price,
.pricing-sec .pricing-cards .pricing-card.active .pricing-box .pricing-box-header .sub-text {
    color: #FFFFFF !important;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-header i.dollar {
    margin-left: 4px;
    font-size: 18px;
    position: absolute;
    top: 33%;
    display: inline-block;
    transform: translateY(-50%);
    color: #202020;
}

.pricing-sec .pricing-cards .pricing-box:hover .pricing-box-header i.dollar,
.pricing-sec .pricing-cards .pricing-card.active .pricing-box .pricing-box-header i.dollar {
    color: #FFFFFF;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-header .sub-text {
    color: #595f6f;
    font-size: 18px;
    font-weight: 400;
    transition: .3s ease;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-detail {
    padding: 35px 25px;
}

.pricing-sec .pricing-cards .pricing-box .pricing-detail-overlay {
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #0596a1;
    display: block;
    transition: .3s ease;
}

.pricing-sec .pricing-cards .pricing-card:hover .pricing-box .pricing-detail-overlay,
.pricing-sec .pricing-cards .pricing-card.active .pricing-box .pricing-detail-overlay {
    bottom: 0;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-detail ul {
    padding-left: 0;
    position: relative;
    z-index: 11;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-detail ul li {
    list-style: none;
    font-size: 16px;
    color: #6a6a6a;
    font-weight: 300;
    margin-bottom: 10px;
    transition: .3s ease;
    display: inline-block;
}

.pricing-sec .pricing-cards .pricing-card:hover .pricing-box .pricing-box-detail ul li,
.pricing-sec .pricing-cards .pricing-card.active .pricing-box .pricing-box-detail ul li {
    color: #FFFFFF;
}

.pricing-sec .pricing-cards .pricing-box .pricing-box-detail ul li:last-child {
    margin-bottom: 0;
}


/* ===================================
       testimonial section css
====================================== */

.testimonial-sec .testimonial-details .text {
    margin-top: 40px;
}

.testimonial-sec .testimonial-area .testimonial-carousel {
    width: 98%;
    margin: 0 auto;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box {
    padding-left: 40px;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .icon-holder {
    display: block;
    margin-bottom: 30px;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .icon-holder i {
    color: #dabf07;
    font-size: 32px;
    display: inline-block;
    font-style: italic;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .img-holder {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .img-holder img {
    border-radius: 50%;
    width: 100%;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .user-name {
    color: #202020;
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}


/* ===================================
        Our Cast sec css
====================================== */

.sponser-tags .item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sponser-tags .item img {
    width: 60%;
    display: inline-block;
}


/* ===================================
        Blog sec css
====================================== */

.blog-sec {
    background-color: #f7f8fb;
}

.blog-sec .blog-detail {
    padding-top: 50px;
}

.blog-sec .blog-detail .text {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}

.blog-sec .blog-img {
    position: relative;
    width: 90%;
}

.blog-sec .blog-img img {
    width: 100%;
}

.blog-sec .blog-img #mokeup-img {
    width: 83%;
    position: absolute;
    left: 51%;
    top: 37%;
    transform: translate(-50%, -50%);
}


/* ===================================
      Contact sec css
====================================== */

.contact-sec .heading {
    color: #202020;
    font-size: 40px;
    margin-bottom: 40px;
}

.contact-sec .contact-form {
    width: 95%;
}

.contact-sec .contact-form input {
    color: #8799a3;
    font-size: 16px;
    height: 50px;
    padding: 25px;
}

.contact-sec .contact-form .form-control {
    border-radius: 0;
    border: solid 2px #eceef2;
}

.contact-sec .contact-form input::placeholder {
    color: #8799a3;
    font-size: 16px;
}

.contact-sec .contact-form textarea {
    padding: 13px;
    padding-left: 25px;
    height: 202px;
    color: #8799a3;
    font-size: 16px;
}

.contact-sec .contact-form .purple-btn {
    margin-top: 15px;
}


/*contact details*/

.contact-sec .contact-background {
    position: absolute;
    right: 0;
    top: -35px;
    z-index: -1;
}

.contact-sec .contact-details {
    font-family: Roboto, sans-serif;
    width: 90%;
    margin-left: 20px;
}

.contact-sec .contact-details .heading {
    margin-bottom: 35px;
}

.contact-sec .contact-details .text {
    color: #18212e;
    /*opacity: .8;*/
}

.contact-sec .contact-details ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 50px;
}

.contact-sec .contact-details ul li {
    color: #18212e;
    /*opacity: .8;*/
    list-style: none;
    margin-bottom: 22px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.contact-sec .contact-details ul li:first-child {
    width: 70%;
}

.contact-sec .contact-details ul li span {
    display: inline-block;
    padding-right: 30px;
}

.contact-sec .contact-details ul li span:last-child {
    padding-right: 0;
}

.contact-sec .contact-details ul li i {
    font-size: 38px;
    margin-right: 20px;
    margin-bottom: 8px;
    color: #350d82;
}

.contact-sec .contact-details ul li i.email {
    transform: rotate(-30deg);
}


/* ===================================
   Footer
====================================== */

.footer-style-1 {
    padding: 5rem 0;
    padding-top: 0;
}

.footer-social ul {
    margin: 0;
    padding: 0;
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.footer-social li:nth-last-child(1) a {
    margin-right: 0;
}

.footer-social li a:hover {
    background-color: #0596a1;
    color: #ffffff;
}

.company-about {
    font-size: 14px;
}

.footer-style-1 .contact-pot {
    transform: translateY(-50px);
}

.footer-style-1 .contact-pot img {
    width: 60%;
}


/* ===================================
   Scroll Top
====================================== */

.scroll-top-arrow,
.scroll-top-arrow:focus {
    font-size: 23px;
    line-height: 47px;
    color: #fff;
    background-color: #9cc11a;
    display: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 80;
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.scroll-top-arrow:hover {
    background-color: #350d82;
}


/* ===================================
    Background images
====================================== */

[class*=bg-img] {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}


/* ===================================
        Preloader
   ====================================== */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    /*background:linear-gradient(45deg, rgb(53, 13, 130) 0%, rgba(128, 33, 181, 1) 50%);*/
    z-index: 999;
}

.dot-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    filter: url('#goo');
    animation: rotate-move 2s ease-in-out infinite;
}

.dot {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dot-3 {
    background-color: #dabf07;
    animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
    background-color: #9cc11a;
    animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
    background-color: #0596a1;
    animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
    20% {
        transform: scale(1)
    }
    45% {
        transform: translateY(-18px) scale(.45)
    }
    60% {
        transform: translateY(-90px) scale(.45)
    }
    80% {
        transform: translateY(-90px) scale(.45)
    }
    100% {
        transform: translateY(0px) scale(1)
    }
}

@keyframes dot-2-move {
    20% {
        transform: scale(1)
    }
    45% {
        transform: translate(-16px, 12px) scale(.45)
    }
    60% {
        transform: translate(-80px, 60px) scale(.45)
    }
    80% {
        transform: translate(-80px, 60px) scale(.45)
    }
    100% {
        transform: translateY(0px) scale(1)
    }
}

@keyframes dot-1-move {
    20% {
        transform: scale(1)
    }
    45% {
        transform: translate(16px, 12px) scale(.45)
    }
    60% {
        transform: translate(80px, 60px) scale(.45)
    }
    80% {
        transform: translate(80px, 60px) scale(.45)
    }
    100% {
        transform: translateY(0px) scale(1)
    }
}

@keyframes rotate-move {
    55% {
        transform: translate(-50%, -50%) rotate(0deg)
    }
    80% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes index {
    0%,
    100% {
        z-index: 3
    }
    33.3% {
        z-index: 2
    }
    66.6% {
        z-index: 1
    }
}


/* ===================================
   Other Page
====================================== */


/***********************************/


/********standalone page css********/


/***********************************/

.full-nav {
    /*position: absolute;*/
    left: 0;
    bottom: auto;
    top: 0;
    right: 0;
    z-index: 111;
}

.full-nav .navbar-brand {
    position: absolute;
    left: auto;
    bottom: auto;
    right: 10px;
    top: 20px;
    z-index: 1111;
    width: 72px;
    display: block;
}

.full-nav .header-appear {
    width: 100%;
    top: 0;
    height: 80px;
}

.header-appear .navbar-brand {
    display: none;
}

.full-nav .header-appear .navbar-brand {
    display: block;
}

.height-60 {
    height: 60vh !important;
}

.secondary-pages-banner .slider-ring {
    height: 240px !important;
    width: 180px !important;
    left: 50% !important;
}

.secondary-pages-banner .banner-left-area .inner-content .heading {
    font-size: 50px !important;
}

.crumbs {
    position: relative;
}

.crumbs .breadcrumb-items {
    display: inline-block;
}

.crumbs .breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #202020;
}

.crumbs .breadcrumb li a {
    color: #202020;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    transition: .5s ease;
    padding-bottom: 5px;
}

.crumbs .breadcrumb li a:hover {
    /*color: #9cc11a;*/
}


/*crumbs end*/

.standalone-row .stand-img-des {
    padding-left: 30px;
    text-align: center;
}

.standalone-row:nth-child(2) .stand-img-des {
    padding-left: 0;
    padding-right: 30px;
}

.standalone-detail .sub-heading {
    color: #0596a1;
    margin-bottom: 20px;
}

.standalone-area .sub-heading {
    color: #0596a1;
    margin-bottom: 8px;
}

.standalone-detail .heading {
    margin-bottom: 20px;
    font-size: 40px;
    color: #202020;
    font-weight: 500;
    /*font-family: Roboto , sans-serif;*/
}

.standalone-detail .para_text {
    color: #202020;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    line-height: 2.1;
}

.standalone-detail {
    padding-bottom: 100px;
}

.standalone-area .gradient-text1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}

.standalone-area .stand-img-des .para_text {
    font-family: 'Raleway', sans-serif;
    color: #202020;
    font-weight: 300;
    opacity: .8;
}


/* ===================================
    Media Queries
   ====================================== */

@media (min-width:1200px) and (max-width: 1250px) {
    .header-appear .sidemenu_btn {
        top: 38px !important;
    }
}

@media (min-width:992px) and (max-width: 1250px) {
    .header-appear .sidemenu_btn {
        top: 33px;
        right: 0;
    }
    .banner-slider .banner-slider-row {
        height: 100vh;
    }
    .banner-slider .banner-social {
        display: none;
    }
}

@media (min-width:992px) and (max-width: 1070px) {
    header .upper-nav .top-social-links {
        margin-right: 50px;
    }
    .sidemenu_btn {
        right: 15px;
    }
    .banner-slider .detail-text .heading {
        font-size: 33px;
    }
    .banner-slider .detail-text .text {
        font-size: 14px;
    }
    .banner-slider .banner-left-area .inner-content .heading {
        font-size: 46px;
    }
    .banner-slider .banner-left-area .slider-ring {
        height: 238px;
        width: 204px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .heading {
        font-size: 40px;
    }
    .slider-area .slider-arrows {
        display: none;
    }
    header .side-menu .navbar-brand img {
        max-width: 80%;
        margin: auto;
        display: block;
    }
    .side-nav .navbar-nav {
        text-align: center;
    }
    .menu-company-details {
        margin-bottom: 25px;
        text-align: center;
    }
    .social-icons-simple,
    .side-menu p {
        text-align: center;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: 26px;
    }
    .header-appear .fixed-nav-links {
        margin-right: 40px;
        margin-left: 0;
    }
    .header-appear {
        width: auto;
        background: #D8271F;
        height: 80px;
        top: 0;
    }
    .sidemenu_btn {
        top: 22px;
        right: 10px;
    }
    header .main-navigation {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    }
    .header-appear {
        left: 0;
    }
    .header-appear .sidemenu_btn {
        background-color: transparent;
        height: auto;
        width: 40px;
        top: 22px;
        left: 17px;
        border-radius: 0;
        padding: 5px;
    }
    .header-appear .navbar-brand {
        display: block;
    }
    .header-appear~.side-menu .btn-close {
        top: 30px;
        right: 23px;
    }
    .header-appear .fixed-nav-logo {
        margin-right: 0;
        transform: translateY(-3px);
    }
    .header-appear .fixed-nav-logo img {
        width: 50%;
    }
    .side-menu {
        width: 100%;
    }
    /*home*/
    header {
        left: 0;
        bottom: auto;
        top: 0;
        right: 0;
    }
    header .navbar-brand {
        left: auto !important;
        bottom: auto;
        width: 80px;
        right: 0px;
        top: 16px;
    }
    /*Banner sec*/
    .banner-left-area {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .slider-right-box {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .height-50 {
        height: auto;
    }
    .banner-slider {
        height: auto;
    }
    .banner-slider .banner-slider-row {
        height: auto;
    }
    .banner-slider .detail-text {
        width: 60%;
    }
    .banner-slider .banner-left-area .slider-ring {
        height: 200px;
        width: 260px;
        left: 50%;
    }
    .banner-slider .banner-left-area .inner-content .heading {
        font-size: 62px;
    }
    @keyframes moving-image {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(40px);
        }
    }
    @keyframes rotating-image {
        from {
            transform: rotate(-5deg);
        }
        to {
            transform: rotate(10deg);
        }
    }
    /*features sec*/
    .feature-sec .card {
        width: 50%;
        margin: auto;
        margin-bottom: 80px;
    }
    .feature-sec .features-cards>div:last-child .card {
        margin-bottom: 0;
    }
    /*stats sec*/
    .plant-img {
        transform: translateY(0);
        margin: auto;
        display: flex;
        margin-top: 35px;
    }
    .plant-img img {
        width: 70%;
        margin: auto;
    }
    .stats-box {
        width: 100%;
        margin: auto;
    }
    /*team sec*/
    .team-owl .owl-nav {
        display: none;
    }
    /*portfolio*/
    .portfolio-sec .item {
        text-align: center;
    }
    .portfolio-sec .heading {
        font-size: 38px;
        margin-bottom: 50px;
    }
    .portfolio-sec .portfolio-links {
        display: none;
    }
    .portfolio-sec .portfolio-footer.padding-top {
        padding-top: 50px;
    }
    .portfolio-sec .portfolio-footer .portfolio-mini-detail {
        margin-top: 15px;
    }
    .portfolio-sec .text {
        padding-top: 30px;
    }
    /*Pricing section*/
    .pricing-sec .pricing-heading-area .text {
        width: 100%;
    }
    .pricing-sec .pricing-cards {
        width: 90%;
        margin: 0 auto;
    }
    .pricing-sec .pricing-card {
        margin-bottom: 30px;
    }
    /*testimonial section*/
    .testimonial-sec .testimonial-area .testimonial-details {
        padding-right: 0;
        margin-bottom: 80px;
    }
    .testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box {
        padding-left: 0;
    }
    /*blog*/
    .blog-sec .blog-area .blog-detail {
        margin-bottom: 80px;
    }
    .blog-sec .blog-img {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 30px;
    }
    .blog-sec .blog-detail .text {
        width: 100%;
    }
    /*contact*/
    .contact-sec .contact-form {
        width: 100%;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width: auto;
    }
    .contact-sec .contact-details ul li {
        display: block;
    }
    .contact-sec .contact-details ul li i {
        display: block;
        margin-bottom: 15px;
    }
    .contact-sec .contact-details ul li {
        margin-bottom: 50px;
    }
    .contact-sec .contact-details ul li:last-child {
        margin-bottom: 0;
    }
    .contact-sec .contact-form {
        margin-right: 0;
        margin-left: 0;
    }
    .contact-sec .contact-form textarea {
        height: 200px;
    }
    .contact-sec .contact-background {
        top: 70px;
    }
    /*footer*/
    .company-about {
        margin-top: 10px;
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }
    .standalone-area .sub-heading {
        margin-top: 20px;
    }
    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .footer-style-1 .contact-pot img {
        width: 50%;
        transform: translateX(95px);
    }
}

@media (max-width: 992px) {
    .header-appear .sidemenu_btn:hover {
        background-color: transparent;
    }
}

@media screen and (max-width:767px) {
    .heading {
        font-size: 45px;
    }
    .slider-area .slider-arrows {
        display: none;
    }
    header .side-menu .navbar-brand img {
        max-width: 80%;
        margin: auto;
        display: block;
    }
    .side-menu .inner-wrapper {
        padding: 3.5rem 3rem;
    }
    .side-menu .inner-wrapper .side-menu-inner-content {
        margin: 0;
    }
    .side-nav .navbar-nav {
        text-align: center;
    }
    .menu-company-details {
        margin-bottom: 25px;
        text-align: center;
    }
    .social-icons-simple,
    .side-menu p {
        text-align: center;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: 26px;
    }
    .header-appear .fixed-nav-links {
        margin-right: 40px;
        margin-left: 0;
    }
    .header-appear {
        width: auto;
        background: #D8271F;
        height: 80px;
        top: 0;
        left: 0;
    }
    .sidemenu_btn {
        top: 22px;
        right: 10px;
    }
    header .main-navigation {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
    }
    .header-appear .sidemenu_btn {
        background-color: transparent;
        height: auto;
        width: 40px;
        top: 22px;
        left: 17px;
        border-radius: 0;
        padding: 5px;
    }
    .header-appear .navbar-brand {
        display: block;
    }
    .header-appear~.side-menu .btn-close {
        top: 30px;
        right: 23px;
    }
    .header-appear .fixed-nav-logo {
        margin-right: 0;
        transform: translateY(-3px);
    }
    .header-appear .fixed-nav-logo img {
        width: 50%;
    }
    .side-menu {
        width: 100%;
    }
    /*home*/
    header {
        left: 0;
        bottom: auto;
        top: 0;
        right: 0;
    }
    header .navbar-brand {
        left: auto !important;
        bottom: auto;
        width: 80px;
        right: 0px;
        top: 16px;
    }
    /*Banner sec*/
    .banner-left-area {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .slider-right-box {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .height-50 {
        height: auto;
    }
    .banner-slider {
        height: auto;
    }
    .banner-slider .banner-slider-row {
        height: auto;
    }
    .banner-slider .detail-text {
        width: 100%;
    }
    .banner-slider .banner-left-area .slider-ring {
        height: 165px;
        width: 104px;
        left: 50%;
    }
    .banner-slider .banner-left-area .inner-content .heading {
        font-size: 44px;
    }
    @keyframes moving-image {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(40px);
        }
    }
    @keyframes rotating-image {
        from {
            transform: rotate(-5deg);
        }
        to {
            transform: rotate(10deg);
        }
    }
    /*features sec*/
    .feature-sec .card {
        margin-bottom: 80px;
    }
    .feature-sec .features-cards>div:last-child .card {
        margin-bottom: 0;
    }
    /*stats sec*/
    .plant-img {
        transform: translateY(0);
        margin: auto;
        display: flex;
    }
    .plant-img img {
        width: 70%;
        margin: auto;
    }
    .stats-box {
        width: 60%;
        margin: auto;
        margin-bottom: 35px;
    }
    /*team sec*/
    .team-owl .owl-nav {
        display: none;
    }
    /*portfolio*/
    .portfolio-sec .item {
        text-align: center;
    }
    .portfolio-sec .heading {
        font-size: 38px;
        margin-bottom: 50px;
    }
    .portfolio-sec .portfolio-links {
        display: none;
    }
    .portfolio-sec .portfolio-footer.padding-top {
        padding-top: 50px;
    }
    .portfolio-sec .portfolio-footer .portfolio-mini-detail {
        margin-top: 15px;
    }
    .portfolio-sec .portfolio-footer .portfolio-mini-heading {
        font-size: 16px;
    }
    .portfolio-sec .portfolio-footer .text {
        font-size: 14px;
    }
    /*Pricing section*/
    .pricing-sec .pricing-heading-area .text {
        width: 100%;
    }
    .pricing-sec .pricing-cards {
        width: 90%;
        margin: 0 auto;
    }
    .pricing-sec .pricing-card {
        margin-bottom: 30px;
    }
    /*testimonial section*/
    .testimonial-sec .testimonial-area .testimonial-details {
        padding-right: 0;
        margin-bottom: 80px;
    }
    .testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box {
        padding-left: 0;
    }
    /*blog*/
    .blog-sec .blog-area .blog-detail {
        margin-bottom: 80px;
    }
    .blog-sec .blog-img {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 30px;
    }
    .blog-sec .blog-detail .text {
        width: 100%;
    }
    /*contact*/
    .contact-sec .contact-form {
        width: 100%;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width: auto;
    }
    .contact-sec .contact-details ul li {
        display: block;
    }
    .contact-sec .contact-details ul li i {
        display: block;
        margin-bottom: 15px;
    }
    .contact-sec .contact-details ul li {
        margin-bottom: 50px;
    }
    .contact-sec .contact-details ul li:last-child {
        margin-bottom: 0;
    }
    .contact-sec .contact-form {
        margin-right: 0;
        margin-left: 0;
    }
    .contact-sec .contact-form textarea {
        height: 200px;
    }
    .contact-sec .contact-background {
        top: 70px;
    }
    /*footer*/
    .footer-style-1 .contact-pot img {
        transform: translateX(50px);
    }
    .company-about {
        margin-top: 10px;
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .slider-sec .overlay h4 {
        font-size: 45px;
    }
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }
    .standalone-area .sub-heading {
        margin-top: 20px;
    }
    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media (min-width: 1200px) {
    .banner-slider .banner-social {
        position: absolute;
        left: 2%;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: 38px;
    }
    .banner-slider .slider-img-area #slider-inner-img {
        position: relative;
        z-index: 11;
        transform: translateX(-58px);
        width: 85%;
    }
    .portfolio-sec .portfolio-links#portfolio-arr-left {
        left: -4%;
    }
    .portfolio-sec .portfolio-links#portfolio-arr-right {
        right: -4%;
    }
}

@media (min-width: 1600px) {
    .banner-slider .banner-social {
        position: absolute;
        left: 6%;
    }
    .banner-slider .slider-img-area #slider-inner-img {
        position: relative;
        z-index: 11;
        transform: translateX(-45px);
        width: 100%;
    }
    .portfolio-sec .portfolio-links#portfolio-arr-left {
        left: -7%;
    }
    .portfolio-sec .portfolio-links#portfolio-arr-right {
        right: -7%;
    }
}